body {
}

#enust {
    width:1000px;
    height:65px;
    margin-bottom:-22px;
    background-color:ivory;
}
#enust h1{
  font-family:'Trebuchet MS';
  

}

#menu {
	background-color:beige;
    float: left;
	width: 1000px;
	height: 80px;
	margin: 0 ;
	
}

#menu ul {
	float: left;
	margin: 0;
    padding-right:5px;
    padding-left:5px;
	list-style: none;
	line-height: normal;
    height:81px;
    width: 990px;
}

#menu li {
	float: left;
    height:7px;
    width: 198px;
}

#menu a {
	border-style: none;
    border-color: inherit;
    border-width: medium;
    display: block;
	line-height: 100px;
	margin-right: 1px;
	padding-bottom:-40px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px rgba(0,0,0,.2);
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #1F1F1F;
	height: 80px;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
    background-color:aqua;
	color:red;
    cursor:progress;
}

#menu .current_page_item a {

}

#Div1 {
    clear:both;
    background-color:beige;
	height:600px;
    width: 196px;
	margin: 0;
}
#Div1  ul{
	float: left;
	margin: 0;
    padding-right:5px;
    padding-left:5px;
	list-style: none;
	line-height: normal;
    width: 182px;
    height: 202px;
}
#Div1 li{
	float: left;
    height:75px;
    width: 188px;
}
#Div1 a{
  
	border-style: none;
    border-color: inherit;
    border-width: medium;
    display: block;
	line-height: 100px;
	margin-right: 1px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px rgba(0,0,0,.2);
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #1F1F1F;
	height: 70px;
    width: 193px;
}
#Div1 a:hover, #Div1 .current_page_item a {
	
    border-bottom:double;
   }
#template {
   
    margin-left:202px;
    background-color:ivory;
    width:800px;
    height: 600px;
 }
#template h3{
    padding-top:2em;
 }
#template p {
    padding-left:5px;
    padding-right:5px;
 }

#enalt {
    background-color:beige;
    width:1000px;
	height:50px;
	font-family:'Comic Sans MS';
}

#enalt p {
	margin: 0;
	letter-spacing: 1px;
	line-height: normal;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	color: #5E5E5E;
    padding-bottom:14px;
    padding-top:14px;
}
#solköşe {
	float:left;
	width:175px;
	margin:0px;
	padding-left:20px;
}

#solköşe ul {
	margin: 0;
	padding: 0;
	list-style:none;
}

#solköşe li {
	margin: 0;
	padding: 0;
    list-style-type:none;
}
#solköşe li li {
	line-height: 40px;
	border-bottom:none;
	margin: 0px 0px;
	border-left: none;
}

#solköşe li li span {
	display:flexbox;
	margin-top: -20px;
	padding: 0;
	font-size:small;
	font-style:normal;
}

#solköşe li li a {
	padding: 0px 0px 0px 20px;
    cursor:progress;
}

#solköşe h4{
   
	height:auto;
	padding-left:10px;
	letter-spacing: -.5px;
	font-size:medium;
	color:black;
   
}

#solköşe p {
	margin: 0 0px;
	padding: 0px 30px 20px 30px;
	text-align:justify;
}

#solköşe a {
    text-decoration-line:underline;
	border:hidden;
    padding:3px ;

}
 #solköşe li a:hover {
 color:aqua;
}
.autostyle {
    padding-left:20px;
    padding-right:20px;
}