body {
}
#enust {
    width:1000px;
    height:65px;
    margin-bottom:-22px;
    background-color:ivory;
}
#enust h1{
  font-family:'Trebuchet MS';

}
#menu {
	background-color:beige;
    float: left;
	width: 1000px;
	height: 90px;
	margin: 0 ;
	padding: 0;
}

#menu ul {
	float: left;
	margin: 0;
    padding-right:5px;
    padding-left:5px;
	list-style: none;
	line-height: normal;
    height: 97px;
}

#menu li {
	float: left;
    height: 68px;
    width: 188px;
}

#menu a {
	display: block;
	line-height: 100px;
	margin-right: 1px;
	padding-bottom:20px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px rgba(0,0,0,.2);
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #1F1F1F;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
	color:aqua;
}

#menu .current_page_item a {
}
#template {
   
    background-color: ivory;
    width: 1000px;
    height: 618px;
}
#template h3{
    padding-top:5em;
 }
#template p {
    padding-left:5px;
    padding-right:5px;
 }

#footer {
    background-color:beige;
    width:1000px;
	height:50px;
	font-family: 'Abel', sans-serif;
}

#footer p {
	margin: 0;
	letter-spacing: 1px;
	line-height: normal;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	color: #5E5E5E;
    padding-bottom:14px;
    padding-top:14px;
}
#sidebar {
	float:left;
	width:175px;
	margin:0px;
	padding-left:20px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style:none;
}

#sidebar li {
	margin: 0;
	padding: 0;
    list-style-type:none;
}

#sidebar li ul {
	margin: 0px 0px;

}

#sidebar li li {
	line-height: 40px;
	border-bottom:none;
	margin: 0px 0px;
	border-left: none;
}

#sidebar li li span {
	display:flexbox;
	margin-top: -20px;
	padding: 0;
	font-size:small;
	font-style:normal;
}

#sidebar li li a {
	padding: 0px 0px 0px 20px;
}

#sidebar h4 {
	height:auto;
	padding-left:10px;
	letter-spacing: -.5px;
	font-size:medium;
	color:black;
    border-bottom:2px solid black;
}


#sidebar p {
	margin: 0 0px;
	padding: 0px 30px 20px 30px;
	text-align:left;
}

#sidebar a {
    text-decoration-line:underline;
	border:hidden;
    padding:3px ;

}
 #sidebar li a:hover {
 color:aqua;
}
.autostyle {
    padding-left:20px;
    padding-right:20px;
}